/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-multiselect
 */

@import "bootstrap";

button.navbar-toggler.collapsed {
  border-color: #178acc;
}

.navbar-light {
  .navbar-brand, .navbar-toggler, .nav-link, .active {
    color: white;
  }
  .navbar-brand:hover, .navbar-toggler:hover, .nav-link:hover, .active:hover {
    color: white;
  }
  .nav-item .nav-link, .nav-item .nav-link:hover {
    color: white;
  }
}

h1, h2, h3 {
  color: #317eac;
}

